@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* COLORS */
  --color-white: #ffffff;
  --color-black: #212529;
  --color-grey: #6c757d;
  --color-light-grey: #f5f5f5;
  --color-red: #dc3545;
  --color-green: #198754;
  --color-blue: #0d6efd;
  --color-yellow: #ffc107;
  /* FONTS */
  --font-primary: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-black);
  font-family: var(--font-primary);
}

/* COMPONENTS */

.btn {
  background-color: var(--color-blue);
  border: none;
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px 0px rgba(191, 191, 191, 1); */
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 500;
  padding: 0.6rem 1rem;
}

.btn-add {
  background-color: var(--color-yellow);
}

.btn-logout {
  font-size: 1.6rem;
}

.inputField {
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  font-family: var(--font-primary);
  padding: 0.6rem 1rem;
}

ul {
  list-style: none;
}

/* LAYOUTS */

.title {
  font-size: 4rem;
}

.header {
  align-items: center;
  display: flex;
  font-family: var(--font-primary);
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-light-grey);
}

.main-menu {
  align-items: center;
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}

.main-menu a {
  color: var(--color-black);
  text-decoration: none;
}

.main-content {
  width: 140rem;
  margin: 0 auto;
  padding-top: 4rem;
}

.addProduct-partial {
  padding: 2rem 0;
}

.addProduct-partial h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#addProduct {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.line {
  border-bottom: 1px solid var(--color-grey);
  margin: 2rem 0;
}

.products-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: space-between;
  gap: 2rem;
}

.product-card {
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  width: 24rem;
  overflow: hidden;
}

.product-card__img {
  height: 20rem;
  background-color: var(--color-grey);
}

.product-card__detail {
  padding: 2rem 0;
  text-align: center;
}

.product-card__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.product-card__desc {
  font-size: 1.6rem;
}

.product-card__purchase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem 2rem;
}

.product-card__price {
  font-size: 1.8rem;
  font-weight: 700;
}
