<div class='addProduct'>
  <h2>Agregar producto</h2>
  <form currentUser={{userID}} method='put' id='editProduct'>
    <input class='inputField' type='text' name='title' placeholder='Titulo' />
    <input
      class='inputField'
      type='text'
      name='description'
      placeholder='Descripción'
    />
    <input class='inputField' type='number' name='price' placeholder='Precio' />
    <input
      class='inputField'
      type='text'
      name='thumbnail'
      placeholder='Imagen'
    />
    <input class='inputField' type='text' name='code' placeholder='Código' />
    <input class='inputField' type='number' name='stock' placeholder='Stock' />
    <button id='btn-add' class='btn btn-edit' type='submit'>Agregar producto</button>
  </form>
</div>
<script src='/js/editProduct.js'></script>