<div class='login'>
  <form method='post' class='form' auth='login'>
    <input class='inputField' type='email' name='email' placeholder='email' />
    <input
      class='inputField'
      type='password'
      name='password'
      placeholder='contraseña'
    />
    <button class='btn' type='submit'>Iniciar sesión</button>
  </form>
</div>