<div class='login'>
  <h1>Inicia sesión para realizar compras</h1>
  <p class='m-2'>¡Encuentra productos increíbles y disfruta de la mejor
    experiencia de compra! Para acceder a todas las funcionalidades, inicia
    sesión con tu cuenta.<br />No tienes cuenta?
    <a href='/register'>Registrate</a></p>
  <form method='post' class='form' auth='login'>
    <input class='inputField' type='email' name='email' placeholder='email' />
    <input
      class='inputField'
      type='password'
      name='password'
      placeholder='contraseña'
    />
    <button class='btn' type='submit'>Iniciar sesión</button>
  </form>
</div>