<div class='premium'>
  <h1>Conviértete en miembro Premium</h1>
  <p class='m-2'>Explora las ventajas exclusivas de ser parte de nuestra
    membresía Premium. ¡Desbloquea la capacidad de crear y personalizar tus
    propios productos, así como editarlos según tus preferencias!</p>
  <button class='btn btn-premium'>Hazte Premium</button>
</div>