<div class='register'>
  <h1>Registrate para realizar compras</h1>
  <p class='m-2'>¡Encuentra productos increíbles y disfruta de la mejor
    experiencia de compra! Para acceder a todas las funcionalidades, registrate
    en nuestra tienda.<br />Ya tienes cuenta?
    <a href='/login'>Inicia sesión</a></p>
  <form method='post' class='form' auth='register'>
    <input class='inputField' type='text' name='name' placeholder='Nombre' />
    <input
      class='inputField'
      type='text'
      name='lastname'
      placeholder='Apellido'
    />
    <input
      class='inputField'
      type='text'
      name='username'
      placeholder='Usuario'
    />
    <input class='inputField' type='email' name='email' placeholder='Email' />
    <input class='inputField' type='number' name='age' placeholder='Edad' />
    <input
      class='inputField'
      type='password'
      name='password'
      placeholder='Contraseña'
    />
    <button class='btn' type='submit'>Registrarse</button>
  </form>
</div>