<h2>Agregar un producto</h2>
<form action='' id='addProduct'>
  <input class='inputField' type='text' name='title' placeholder='Titulo' />
  <input
    class='inputField'
    type='text'
    name='description'
    placeholder='Descripción'
  />
  <input class='inputField' type='number' name='price' placeholder='Precio' />
  <input class='inputField' type='text' name='thumbnail' placeholder='Imagen' />
  <input class='inputField' type='text' name='code' placeholder='Código' />
  <input class='inputField' type='number' name='stock' placeholder='Stock' />
  <button class='btn' type='submit'>Crear producto</button>
</form>