<form action='' id='addProduct'>
  <div class='input-container'>
    <label for='title'>Titulo</label>
    <input type='text' name='title' />
  </div>
  <div class='input-container'>
    <label for='description'>Descripción</label>
    <input type='text' name='description' />
  </div>
  <div class='input-container'>
    <label for='price'>Precio</label>
    <input type='number' name='price' />
  </div>
  <div class='input-container'>
    <label for='thumbnail'>Imagen</label>
    <input type='text' name='thumbnail' />
  </div>
  <div class='input-container'>
    <label for='code'>Código</label>
    <input type='text' name='code' />
  </div>
  <div class='input-container'>
    <label for='stock'>Stock</label>
    <input type='number' name='stock' />
  </div>
  <button type='submit'>Crear producto</button>
</form>