<header class='header'>
  <span>LOGO</span>
  <ul class='main-menu'>
    <span></span>
    {{#each menuOptions}}
      <li><a href='{{{this.anchor}}}'>{{{this.link}}}</a></li>
    {{/each}}
  </ul>
</header>