<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Backend</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  {{#if showHeader}}
    {{> header isAble=isAble}}
  {{/if}}
  <body>
    <main class="main-content">
      {{{body}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{#if isAble}}
      <script src="/js/index.js"></script>
    {{/if}}
  </body>
</html>